*{
    margin: 0;
    padding: 0;
    font-family:serif;
}

.container
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.header {
   position: fixed;
   top: 0;
   right: 0; 
   left: 0;
   width: 100%;
   background-color: #FAEBE0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   
}
.header-container{
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-container div{
   height: 60px;
   line-height: 60px;
}

#news, #newss{
    width: max-content;
    font-family: cursive;
    font-weight: bold;
    font-size: larger;   
}
#news span , #newss span{
    color:rgb(106, 12, 12);

}
#newss{
    display: none;
    margin: auto; 
    font-size:inherit; 
    padding:0px 20px;
}

.logo{
    width: 180px;
    background-color: #C4C4C4;
     text-align: center;
    font-family: 'Merienda', cursive;
    font-size: x-large;
}
.logo a{
    text-decoration: none;
    color: black;
    font-family: 'Merienda', cursive;
}
#search{
    width: max-content;
    margin-right: 30px;
}

.search__input {
    padding: 8px 1px;
    font-size: 17px;
    border: 1px solid #ccc;
    width: 180px;
    
}

.search-container button {
    float: right;
    width: 35px;
    padding: 8px 8px;
    margin-top: 11px;
    margin-right: 20px;
    background: #ddd;
    font-size: 17px;
    border: 1px solid #ccc;
    cursor: pointer;

}
.search-container button:nth-child(2){
    position: fixed;
    right: 0;   
    width: 50px;
}

@media screen and (max-width: 1100px)
{
    #news
    {
        display: none;
    }
    .search__input {
     
        width: 140px;   
    }   
} 

.search-container button:hover {
    background: #C1AC95;
}
/* ------------ */
.menu {
    font-size: large;
    max-width: 1000px;
    margin: auto;
     
}
.menu ul {
    list-style: none;
  
}

.menu ul li {
    position: relative;
    float: left;
    background-color: #FAEBE0;
    /* background:  rgb(250,235,224,0.5) !important;  */ 
}

.menu-dropdown {
    position: absolute;
    display: none;
    width: 300px;  
}

.menu li:hover .menu-dropdown {
    display: block;   
}

.menu a {
    display: inline-flex;
    padding: 10px 40px;
    text-decoration: none;
    height: 30px;
    color: black;
    position: relative;
    line-height: 30px;
}

.menu li a:hover {
    color: white;
    background: #C1AC95;
}

.menu-dropdown li {
    width: 100%;
    text-align: left;
}

.toggle {
    display: none;
    padding: 15px 12px;
    cursor: pointer;
    font-size: x-large;   
    background-color: #C4C4C4; 
}

@media screen and (max-width: 1100px) {
    .menu ul li a {
        display: none;
    }

    .toggle {  
        display: block;
        /* position: fixed; */
    }
    .menu{
        margin-left: 15px;
       
    }
    .menu-dropdown li , .menu ul li {
        margin-left: 45px; 
      
        border-top: 1px solid gray;
    }
     #newss
    {
        display: block;
    }
    .product_filter{
        margin-top: 50px !important; 
    }
}

@media screen and (max-width: 1100px) {
    .menu.responsive ul li {                
        float: none;
    }
    .menu.responsive ul li a {      
        float: none;
        display: block;
        text-align: left;
        font-size: medium;
    }
    .menu.responsive .menu-dropdown{
        position: relative;
        
    }    
}

.main {
    display: block;
    margin: auto;
    width: 90%;   
    height: max-content; 
    margin-top: 110px;
    margin-bottom: 20px;
}
.product>p:nth-child(1){
    height: 60px;
    text-align: center;
}
.footer{
    background-color:  #FAEBE0;
    height: max-content;
    padding: 10px 15px;
    width: 100%;
}
.footer>div:nth-child(1){
    font-style: italic;
}
.footer-container{
    float: left ;
}
.footer hr{
    margin-bottom: 10px;
}
.footer-item1{
    float: left;
    width: 400px;
}
.footer-item2{
    float: right;
    width: 450px;
}

@media screen and (max-width: 1100px) {
    .footer-item1 {
        float: none;
    }
    .footer-item2{
        float: none;
        width: 410px;
        margin-top: 10px;
    }    
}
