#shoppingcart
{
    color: #a83f3f;
    font-weight: bold;
}
.process
{
    text-align: center;
    font-size: x-large;
    margin-bottom: 80px;
    margin-top: 10px;
}
/* #table
{
    width: 100%;
    text-align: center;
} */


/* .table__layout
{
    margin-bottom: 40px;
} */

/* #sanpham
{
    padding: 0px 50px 0px 50px;
}
#gia
{
    padding: 0px 30px 0px 30px;
}
#tamtinh
{
    padding: 0px 30px 0px 30px;
    
} */
/* ---------------CART--------------- */
.products-container
{
    width: 40%;
    justify-content: space-around;
    margin:  0 auto;
    margin-top: 15px;
    /* background-color: lightgreen; */
    margin-bottom: 40px;
}
.products-container ion-icon
{
    font-size: 25px;
    color: lightgreen;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.product--header
{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}
.product-title
{
    width: 45%;
    border-bottom: 1px solid lightgray;
}
.price
{
    width: 15%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}
.quantity
{
    width: 30%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}
.total
{
    width: 10%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    /* justify-content: space-around;
    padding-bottom: 10px 0; */
}
.products
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#break
{
    margin-right: 20px;
}


.shoppingcart--info
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.info--payment
{
    width: 400px;
}
.payment--row
{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.cart--button
{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 20px;
    cursor: pointer;
}
#Tieptucxemsp
{
    background-color: black;
    color: white;
    padding: 6px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
#Capnhatgiohang
{
    background-color: #c4c4c4;
    color: black;
    padding: 6px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
#tienhanhthanhtoan
{
    background-color: #c4c4c4;
    color: black;
    padding: 6px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
@media screen and (max-width: 1050px) 
{
    /* #table
    {
        width: 100%;
    } */
    .products-container
    {
        width: 80%;
    }
    .shoppingcart--info
    {
        display: flex;
        flex-direction: column;
    }
    .info--payment
    {
        width: 100%;
    }
    #break
    {
        margin-bottom: 50px;
    }
    .footer{
        top:inherit;
    }
}